<h1>Sydney McMuldroch's HW #3</h1>
<h1></h1>
<h1></h1>

<h1>To Do List</h1>
<% @todos.each do |todo| %>
  <%= todo.tasks %>
  <%= todo.finished %>
  <h1></h1>
<% end %>

<h1></h1>
<h1></h1>
<h1>Kitty Cats</h1>
<% @cats.each do |cat| %>
  <%= cat.name %>
  <%= cat.meow %>
  <h1></h1>
<% end %>

<h1></h1>
<h1></h1>
<h1>Users</h1>
<% @users.each do |user| %>
  <%= user.name %>
  <%= user.email %>
  <h1></h1>
<% end %>

